.header{
    text-align: center;
    color: aliceblue;
    height: 80px;
    padding-bottom: 10px;
    background-image: url(/images/Mamamoo_logo.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

html{
    background-color: rgb(45,45,45);
}

.contents{
    background-color: rgb(210, 220, 230);
    margin: 50px;
    border-radius: 5px;
    padding: 40px;
}

.socials{
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
    width:100%;
    font-size: 30px;
    background-color: rgb(255, 0, 157);
    padding-top: 15px;
    padding-bottom: 10px;
}

.nav{
    color: aliceblue;
}

a{
    text-decoration-color: rgb(255, 0, 157);
    color:rgb(255, 0, 157);
    margin: 10px;
}

.inPage{
    color: black;
}

.paras{
    max-width: 450px;
}

img{
    max-width: 300px;
}

.albumCover{
    max-width: 150px;
    max-height: 150px;
    margin:20px;
}

.albums{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.socialmediaicons{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

li{
    color: rgb(255, 0, 157);
    background-color: none;
    font-size: 30px;
    min-width: 40px;
    min-height: 40px;
}

.rounded {
    flex: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }  

.songlist{
    padding-right: 30px;
}

h3{
    padding-top: 20px;
}

ul {
    list-style-type: none;
}

@media (max-width:576px){
    nav{
        display:flex;
        flex-wrap: wrap;
        font-size: 20px;
    }

    .albums{
        flex-direction: column;
        max-width: 190px;
    }
}
