.header{
    text-align: center;
    color: aliceblue;
    height: 80px;
    padding-bottom: 15px;
    background-image: url(/images/Mamamoo_logo.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

html{
    background-color: rgb(45,45,45);
}

.collection{
    background-color: rgb(226, 236, 245);
    margin: 50px;
    border-radius: 5px;
    padding: 40px;
}

.contents{
    background-color: rgb(226, 236, 245);
    margin: 50px;
    max-width: 500px;
    border-radius: 5px;
    padding: 40px;
    margin-left: 350px;
}

h1{
    font-family: 'Nerko One', cursive;
    font-size: 40px;
    margin-bottom: 5px;
}

p{
    font-family: 'Nerko One', cursive;
    font-size: 20px;
}

h2{
    font-family: 'Nerko One', cursive;
    font-size: 40px;
    margin-top: -2%;
    margin-bottom: -2%;
}

h3{
    font-family: 'Nerko One', cursive;
    font-size: 30px;
}

h4{
    font-family: 'Nerko One', cursive;
    font-size: 25px;
}

h5{
    color: rgb(58, 58, 58);
    font-family: 'Nerko One', cursive;
    margin-top: -5%;
    font-size: 15px;
}

img{
    margin-top: 10px;
}

.socials{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

nav{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
    width:100%;
    background-color: rgb(255, 0, 157);
    padding-top: 15px;
    padding-bottom: 10px;
}

.nav{
    color: aliceblue;
}

a{
    text-decoration-color: rgb(255, 0, 157);
    color:rgb(255, 0, 157);
    margin: 10px;
    font-family: 'Nerko One', cursive;
    font-size: 34px;
}

.inPage{
    color: black;
}

.paras{
    max-width: 450px;
    margin-bottom: 30px;
}

img{
    max-width: 300px;
}

.albumCover{
    max-width: 150px;
    max-height: 150px;
    margin:20px;
}

.albums{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.socialmediaicons{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

li{
    color: rgb(255, 0, 157);
    background-color: none;
    font-size: 30px;
    min-width: 40px;
    min-height: 40px;
}

.rounded {
    flex: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }  

.songlist{
    padding-right: 30px;
}

h3{
    padding-top: 20px;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    width: 100%;
    background-color: aliceblue;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(191, 191, 191);
}

.img img {
    max-width: 100%;
    cursor: pointer;
    transition: -webkit-transform 0.1s ease
}

img:focus {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
}

.info {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
}

.price{
    color: aliceblue;
    background-color: rgb(255, 0, 157);
    width: 90%;
    padding: 4%;
    border-radius: 5px;
    font-size: 25px;
}

.extra{
    font-size: 15px;
    color: rgb(58, 58, 58);
    margin-left: 10px;
}

@media (max-width: 920px) {
    .flex-item {
        flex: 1 28%;
        flex-grow: inherit;
    }
}

@media (max-width:576px){
    nav{
        display:flex;
        flex-wrap: wrap;
        font-size: 20px;
    }

    .albums{
        flex-direction: column;
        max-width: 190px;
    }
    
    .item {
        flex-basis: 45%;
        flex-grow: 1;
        flex-grow: inherit;
    }

    .contents{
        margin-left: 50px;
    }
}